@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.employee {
	border: 2px solid black;
	height: 150px;
	width: 200px;
	border-radius : 10px;
	margin: 10px;
	
}
.item {
	margin: 5px;
}
.container {
	display: flex;
	
}