<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>marksServlet</display-name>
    <servlet-name>marksServlet</servlet-name>
    <servlet-class>marksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>marksServlet</servlet-name>
    <url-pattern>/marksServlet</url-pattern>
  </servlet-mapping>
  <display-name>New</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>logincheck</servlet-name>
    <servlet-class>logincheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetCookies</servlet-name>
    <servlet-class>SetCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincheck</servlet-name>
    <url-pattern>/logincheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetCookies</servlet-name>
    <url-pattern>/cookiecheck</url-pattern>
  </servlet-mapping>
</web-app>